Flask==1.0.2
python-dotenv==0.13.0
flask-jwt-extended==3.24.1
bcrypt==3.1.7

# https://json-schema.org/understanding-json-schema/
flask-json-schema==0.0.5
jsonpickle==1.4.1
flask_cors==3.0.8
Flask-gzip==0.2
